#PIN_NUMBER|DETECTION|STATUS|UUID
1|NOT-DETECTED|PASSIVE|
2|NOT-DETECTED|PASSIVE|
3|NOT-DETECTED|PASSIVE|
4|NOT-DETECTED|PASSIVE|
5|NOT-DETECTED|PASSIVE|
6|NOT-DETECTED|PASSIVE|
7|NOT-DETECTED|PASSIVE|
8|NOT-DETECTED|PASSIVE|
9|NOT-DETECTED|PASSIVE|
10|NOT-DETECTED|PASSIVE|
11|NOT-DETECTED|PASSIVE|
12|NOT-DETECTED|PASSIVE|
13|NOT-DETECTED|PASSIVE|
14|DETECTED|PASSIVE|fae2fe8e-7f74-449b-80f7-d32f70b44eaa
15|DETECTED|ACTIVE|97d08ea7-785a-4a6c-a4a2-bf4386aefd29
16|NOT-DETECTED|PASSIVE|
17|NOT-DETECTED|PASSIVE|
18|NOT-DETECTED|PASSIVE|
19|NOT-DETECTED|PASSIVE|
20|NOT-DETECTED|PASSIVE|
21|NOT-DETECTED|PASSIVE|
22|NOT-DETECTED|PASSIVE|
23|NOT-DETECTED|PASSIVE|
24|NOT-DETECTED|PASSIVE|
25|NOT-DETECTED|PASSIVE|
26|NOT-DETECTED|PASSIVE|
27|NOT-DETECTED|PASSIVE|
28|NOT-DETECTED|PASSIVE|
29|NOT-DETECTED|PASSIVE|
30|NOT-DETECTED|PASSIVE|
31|NOT-DETECTED|PASSIVE|
32|NOT-DETECTED|PASSIVE|
33|NOT-DETECTED|PASSIVE|
34|NOT-DETECTED|PASSIVE|
35|NOT-DETECTED|PASSIVE|
36|NOT-DETECTED|PASSIVE|
37|NOT-DETECTED|PASSIVE|
38|NOT-DETECTED|PASSIVE|
39|NOT-DETECTED|PASSIVE|
40|NOT-DETECTED|PASSIVE|